.git
.gitignore
.env
.venv
venv
__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.ruff_cache
Files
logs
tests
requirements-dev.txt
run.bat
setup.bat
docker-run.bat
docker-run.sh
README.md

